cat << EOF >> .gitignore

# Python
__pycache__/
*.pyc
venv/

# Alembic
backend/alembic/__pycache__/

# Node
node_modules/

# Uploads
backend/uploads/
uploads/


# OS
.DS_Store
EOF

.env 
__pycache__/
*.pyc
